* {
  margin: 0;
  box-sizing: border-box;
}

button {
  margin: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.plant {
  height: 150px;
  width: 150px;
  border: 1px solid gainsboro;
  position: absolute;
  background-color: green;
  color: white;
  display: grid;
  place-content: center;
  border-radius: 4px;
  cursor: grabbing;
}
