* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 10px;
}

input {
  outline: none;
}

input,
button {
  padding: 3px 5px;
  font-size: 16px;
}

#typingGame {
  padding: 10px 10px 20px;
  border: 1px solid gainsboro;
  max-width: fit-content;
  margin-inline: auto;
  text-align: center;
}

#title {
  font-size: 2rem;
}

#quoteEl {
  padding-block: 5px 10px;
  font-size: 20px;
}

#messageEl {
  padding-bottom: 10px;
  color: darkgreen;
}

.highlight {
  background-color: lightblue;
}

.error {
  background-color: lightcoral;
  border-color: red;
}
